<Application resource-id="nastools-zerotier-one">
  <Version></Version>
  <MinFirmwareVer>6.6.0</MinFirmwareVer>
  <Name>ZeroTier One NT</Name>
  <Author>NAStools</Author>
  <RequireReboot>0</RequireReboot>
  <LaunchURL/>
  <InfoURL>https://github.com/nastools/zerotierone</InfoURL>
  <DebianPackage>nastools-zerotier-one</DebianPackage>
  <Description lang="en-us">ZeroTier network virtualization service (CLI only)</Description>
  <ServiceName>fvapp-nastools-zerotier-one.service</ServiceName>
  <ConfigURL/>
</Application>
