<Application resource-id="nastools-zerotier-one">
  <Version>1.1.14-nt2</Version>
  <MinFirmwareVer>6.6.0</MinFirmwareVer>
  <Name>ZeroTier One NT</Name>
  <Author>NAStools</Author>
  <RequireReboot>0</RequireReboot>
  <LaunchURL>https://localhost/apps/nastools-zerotier-one/ui/</LaunchURL>
  <InfoURL>https://github.com/nastools/zerotierone</InfoURL>
  <DebianPackage>nastools-zerotier-one</DebianPackage>
  <Description lang="en-us">ZeroTier network virtualization service</Description>
  <ServiceName>fvapp-nastools-zerotier-one.service</ServiceName>
  <ConfigURL/>
</Application>
