[Unit]
Description=ZeroTier One
After=network.target apache2.service

[Service]
ExecStart=/apps/nastools-zerotier-one/sbin/zerotier-one
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target
